.Card_container{
    display: grid;
    width: 535px;
    height: 400px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px #888888;
    cursor: pointer;
}

.Card_container:hover {
    transform: scale(0.8);
}

.Card_img {
    padding-top: 20px;
    height: 260px;
    background-color: #8888;
}

.Card_info h1 {
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.Card_info p {
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
}