.intro_container {
    width: 50%;
    padding: 10%;
    /* background: #F5F5F5; */
}

.getstarted_img {
    width: 50%;
}

.Welcome {
    text-align: center;
}

.Card_grid {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
}

.Card_grid img {
    width: 320px;
    height: 243px;
    margin-inline: auto;
}

.wetxt {
    font-family: poppins;
    font-weight: 1000;
    font-size: 30px;
    padding: 20px;
}

.semi_txt {
    font-family: poppins;
    font-weight: 300;
    font-size: 20px; 
}

.share_btn{
    color: #FFFFFF;
    /* border: 1.6px solid #1c1cff; */
    border-radius: 10px;
    background-color: #1c1cff;
    height: 47px;
    margin-top: 20px;
    padding: 10px;
}